#XfceNotifyWindow {
  background-color: #c9c9c9;
  color: #000000;
  border-radius:0px;
  box-shadow:  -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}


#XfceNotifyWindow:hover {
  border: 1px solid white;
}

#XfceNotifyWindow progressbar trough {
  padding: 2px;
  
}
